@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");
@import "reset.css";
@import "variables.css";

@keyframes moveUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

html,
body {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--darkblue);
  font-size: 14px;
  font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*** common class ***/
.hidden {
  display: none !important;
}
.wrap {
  display: flex;
  gap: 20px;
  width: 60vw;
  height: 80vh;
  padding: 36px;
}
.btn {
  font-size: 0.8em;
}
.section {
  padding: 20px;
  border-radius: 16px;
  background-color: #f7fbff;
  box-shadow: 10px 10px 15px rgba(70, 70, 70, 0.12);
}
.section__title {
  display: block;
  margin-bottom: 8px;
  font-size: 12px;
  color: var(--point);
}

/*** aside ***/
.aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 180px;
}
.section__aside {
  display: flex;
  flex-direction: column;
}

/* currentInfo */
.aside__currentInfo > div {
  display: flex;
  align-items: center;
  gap: 4px;
  height: 20px;
}
.aside__currentInfo > div + div {
  margin-top: 8px;
}
.aside__currentInfo > div > *:first-child {
  width: 20px;
  text-align: center;
}

/* favorites */
.aside__favorites {
  flex: 1;
}
.list__favorites .favorites__link {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 0;
}
.list__favorites .favorites__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  overflow: hidden;
  border-radius: 50%;
}

/* geoloaction */
.geo__location .geo__weather {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 8px;
}
.geo__weather > img {
  width: 20px;
}

/*** todo ***/
.section__todo {
  flex: 1;
  position: relative;
}
.todo__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.todo__form .form__input {
  flex: 1;
}
.todo__form .form__input::placeholder {
  color: var(--lightgray);
}

/* user */
.todo__user {
  height: 48px;
  overflow: hidden;
}
.todo__user .todo__form-user {
  position: relative;
}
.todo__user .form-user__input {
  padding: 8px 0px;
  font-size: 24px;
}
.todo__user .form-user__input + .line__bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: var(--point);
  transition: width 0.4s;
}
.todo__user .btn__enter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: var(--gray);
  font-size: 0.8em;
  border-radius: 50%;
  border: 1px solid var(--gray);
}
.todo__user .form-user__input:focus + .line__bottom {
  width: 100%;
}
.todo__user .form-user__input:focus ~ .btn__enter {
  color: var(--darkblue);
  border: 0;
}

.todo__greeting {
  font-size: 40px;
  font-weight: 700;
  animation: moveUp 0.6s ease-in;
}
.todo__greeting > span {
  color: var(--point);
}

/* todo */
.todo__form-todo {
  flex-direction: row-reverse;
  margin-bottom: 8px;
}
.todo__todo .form-todo__input {
  margin-top: 4px;
  padding: 8px 0;
}
.todo__todo .scroll-wrap {
  max-height: calc(80vh - 270px);
  overflow-y: auto;
}
.list__todo .todo__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 8px 0 8px;
}
.list__todo .todo__check {
  position: absolute;
  width: 1px;
  height: 0;
}
.list__todo .todo__text {
  position: relative;
  flex: 1;
  padding-left: 24px;
}
.list__todo .todo__text:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #999;
}
.list__todo .todo__text > span {
  position: relative;
}
.list__todo .todo__check + .todo__text > span:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 50%;
  width: 0;
  height: 2px;
  background-color: var(--gray);
  transition: width 0.2s;
}
.list__todo .todo__check:checked + .todo__text {
  font-style: italic;
  color: var(--lightgray);
}
.list__todo .todo__check:checked + .todo__text:before {
  width: 12px;
  height: 12px;
  border: 2px solid var(--darkblue);
  background-color: var(--point);
}
.list__todo .todo__check:checked + .todo__text > span:after {
  width: 100%;
}

/* quote */
.aside__quote {
  position: absolute;
  bottom: 20px;
  line-height: 20px;
  color: var(--lightgray);
  font-size: 0.8em;
}
.aside__quote .quote__text {
  margin-right: 8px;
  font-style: italic;
}
