/*** todo ***/
.section__todo {
  flex: 1;
  opacity: 0;
  animation: moveUp 0.6s ease-in 0.4s forwards;
}
.todo__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.todo__form .form__input {
  flex: 1;
}
.todo__form .form__input::placeholder {
  color: var(--lightgray);
}

/* user */
.todo__user {
  height: 48px;
  overflow: hidden;
}
.todo__user .todo__form-user {
  position: relative;
}
.todo__user .form-user__input {
  padding: 8px 0px;
  font-size: 24px;
}
.todo__user .form-user__input + .line__bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: var(--point);
  transition: width 0.4s;
}
.todo__user .btn__enter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  color: var(--gray);
  font-size: 0.8em;
  border-radius: 50%;
  border: 1px solid var(--gray);
}
.todo__user .form-user__input:focus + .line__bottom {
  width: 100%;
}
.todo__user .form-user__input:focus ~ .btn__enter {
  color: var(--darkblue);
  border: 0;
}

.todo__greeting {
  font-size: 2.8em;
  font-weight: 700;
  animation: moveUp 0.6s ease-in;
}
.todo__greeting > span {
  color: var(--point);
}

/* todo */
.todo__form-todo {
  flex-direction: row-reverse;
  margin-bottom: 8px;
}
.todo__todo .form-todo__input {
  margin-top: 4px;
  padding: 8px 0;
}
.todo__todo .scroll-wrap {
  max-height: calc(80vh - 270px);
  overflow-y: auto;
}
.list__todo .todo__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 8px 0 8px;
}
.list__todo .todo__check {
  position: absolute;
  width: 1px;
  height: 0;
}
.list__todo .todo__text {
  position: relative;
  flex: 1;
  padding-left: 24px;
}
.list__todo .todo__text:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #999;
}
.list__todo .todo__text > span {
  position: relative;
}
.list__todo .todo__check + .todo__text > span:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 50%;
  width: 0;
  height: 2px;
  background-color: var(--gray);
  transition: width 0.2s;
}
.list__todo .todo__check:checked + .todo__text {
  font-style: italic;
  color: var(--lightgray);
}
.list__todo .todo__check:checked + .todo__text:before {
  width: 12px;
  height: 12px;
  border: 2px solid var(--darkblue);
  background-color: var(--point);
}
.list__todo .todo__check:checked + .todo__text > span:after {
  width: 100%;
}

/* quote */
.aside__quote {
  position: absolute;
  bottom: 20px;
  line-height: 20px;
  color: var(--lightgray);
  font-size: 0.8em;
}
.aside__quote .quote__text {
  margin-right: 8px;
  font-style: italic;
}

@media (max-width: 699px) {
  .list__todo .todo__item {
    padding: 6px 0;
  }
}
